:root{
    --general-font: 'Quicksand', sans-serif;
    --yellow-color: #e9f581;
    --gray-color: #afa3a3;
    --black-color: #000000;
    --white-color: #eee8e8;
    --gray-text-color: #6e6c6c;
    --dark-gray-color: #35343479;
    --font-weight-small: 25px;
    --font-weight-medium: 35px;
    --font-weight-large: 45px;
    --font-weight-Xlarge: 55px;
}

html{
    font-family: var(--general-font);
}

body{
    margin: 0;
    padding: 0;
}

/*Barra de navegacion*/

.navegacionContenedor{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--white-color);
}

.contenedor__elementos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor--logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.contenedor--logo img{
    width: 110px;
    height: 110px;
}

.contenedor--dropdown{
    align-self: center;
}

/*Menu desplegable*/

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;
}

.Dropdown{
    border: 1px solid #792f75;
    border-radius: 3px;
}

.contenedor--dropdown a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    
}

.contenedor--dropdown a:hover{
    background-color: var(--yellow-color);
}

.menuDropdown{
    display: none;
    position: absolute;
    z-index: 1;
}

.Dropdown:hover .menuDropdown{
    display: block;
}

/*Seccion de Inicio*/

.tituloContenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 120px;
    text-align: center;
}

.imagen__titulo img{
    width: 500px;
    height: 450px;
}

.titulo__intro{
    display: flex;
    flex-direction: column;
}

#tituloImportante{
    font-size: var(--font-weight-small);
    text-shadow: 2px 3px var(--dark-gray-color);
}

.titulo__intro p {
    padding-bottom: 10px;
}

#actionButton{
    align-self: center;
    background-color: #bf8508;
    border: 1px solid var(--gray-color);
    border-radius: 6px;
    color: whitesmoke;
    padding: 20px 30px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    transition: 1s ease;
}

#actionButton:hover{
    background-color: var(--yellow-color);
}

/*Como funciona*/

.comoFunciona__titulo{
    text-align: center;
    font-size: var(--font-weight-medium);
}

.contenedor__FuncionImagenes{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 50px;
}

#TakingASelfie, #EditingSelfie, #ExpertsSelfie, #ReceivingEmail{
    width: 190px;
    height: 185px;
}

.contenedor--Selfie, .contenedor--Editor, .contenedor--Expertos, .contenedor--email{
    align-self: center;
    text-align: center;
    color: var(--gray-text-color);
    cursor: pointer;
}

/*Documentos Populares*/

.ExtraDocuments{
    padding-top: 30px;
    padding-bottom: 30px;
}

.documents__images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.documents--cedula, .documents--USPassport, .documents--CAPassport{
    align-self: center;
   border: 1px solid var(--gray-text-color);
   border-radius: 4px;
   text-align: center;
   transition: transform 0,2 ease;
}

.documents--cedula:hover{
    transform: scale(1.1);
}

.documents--USPassport:hover{
    transform: scale(1.1);
}
.documents--CAPassport:hover{
    transform: scale(1.1);
}


.documents--cedula img{
    width: 400px;
    height: 276px;
}

.documents--USPassport img{
    width: 400px;
    height: 276px;
}

.documents--CAPassport img{
    width: 400px;
    height: 276px;
}

.boton__Documentos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}